db
*.bak
*.qws
*.bsf
*.db_info
*.xml
*.ammdb
*.logdb
*.rcfdb
*.dpi
*.hb_info
*.cdb
*.dfp
*.hdb
*.sig
*.kpt
*.rpt
*.smsg
*.cdf
*.done
*.summary
VGA/incremental_db/README
VGA/greybox_tmp/cbx_args.txt
*.jdi
*.pin
*.pof
*.sld
*.sof
*.cmp
*.ppf
FIFO-UART/incremental_db/README
*.qsf
*.qpf
